<div class="center jumbotron">
    <h1>Product Listing Application</h1>
    
    <h2>
        This is the home page for the
        <a href="https://luxola.peoplehr.net/Pages/JobBoard/Opening.aspx?v=cb49d71e-da7e-4e26-953b-689b1f32a709">Sephora Recruitment Challenge</a>
        sample application.
    </h2>
    
    <%= link_to "Add New Product", addproduct_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("sephora.jpg", alt: "Sephora logo"),
            'http://www.sephora.sg/' %>