<li>
  <%= gravatar_for_product product, size: 50 %>
  <%= link_to product.name, product %>
  <% if current_user.present? && current_user.admin? %>
    | <%= link_to "edit", edit_product_path(product) %>
    | <%= link_to "delete", product, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>