<% provide(:title, 'All products') %>
<h1>All products</h1>

<%= will_paginate %>

<ul class="products">
    <% @products.each do |product| %>
        <%= render product %>
    <% end %>
</ul>

<%= will_paginate %>