<% provide(:title, 'All products') %>
<h1>All products</h1>

<%= will_paginate %>

<ul class="products">
    <% @products.each do |product| %>
        <li>
            <%= render product %>
        </li>
    <% end %>
</ul>

<%= will_paginate %>